body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: rgb(236, 243, 244);
  height: 100vh;
  width: 100vw;
  font-size: large;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  font-size: larger;
  background-color: white;
}

.textlogo {
  text-decoration: none;
  color: rgb(65, 198, 134);
  font-size: 30px;
  font-weight: bold;
}
#menu {
  display: flex;
  justify-content: space-between;
}
.carttext {
  text-decoration: none;
  color: black;
  margin-left: 20px;
}

.bookingstext {
  padding-left: 0px;
  text-decoration: none;
  color: black;
  margin-left: 50px;
}

#block-text-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.trip {
  background-color: rgb(241, 236, 229);
  border-radius: 5px;
  height: 50px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: small;
}
#trips-container {
  width: 80%;
  display: flex;
  flex-direction: column;
}
#box {
  background-color: white;
  width: 60vw;
  margin: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
#box-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#box-bottom {
  background-color: rgb(4, 4, 50);
  height: 50px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  color: white;
}
.content-box {
  width: 20vw;
  height: 40vh;
  background-color: #f1f5f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}
#content-cart {
  display: flex;
  align-items: center;
  height: 85vh;
}
#box {
  background-color: white;
  width: 60vw;
  margin: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
#box-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#box-bottom {
  background-color: rgb(4, 4, 50);
  height: 50px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  color: white;
}

#btn-purchase {
  background-color: rgb(65, 198, 134);
  color: white;
  border-radius: 3px;
  height: 50%;
  border: none;
  padding: 0 15px;
}
#trips-container {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.trip {
  background-color: rgb(241, 236, 229);
  border-radius: 5px;
  height: 50px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: small;
}
.btn-delete {
  background-color: rgb(65, 198, 134);
  color: white;
  border-radius: 3px;
  height: 30px;
  width: 30px;
  border: none;
}
