body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: rgb(236, 243, 244);
  height: 100vh;
  width: 100vw;
  font-size: large;
}
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: white;
  font-size: larger;
}
.textlogo {
  text-decoration: none;
  color: rgb(65, 198, 134);
  font-size: 30px;
  font-weight: bold;
}
#menu {
  display: flex;
  justify-content: space-between;
}
.carttext {
  text-decoration: none;
  color: black;
  margin-left: 20px;
}
.bookingstext {
  padding-left: 0px;
  text-decoration: none;
  color: black;
  margin-left: 50px;
}
#container {
  background-image: url("images/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
#text {
  text-align: center;
  color: white;
  margin-bottom: 40px;
  padding-top: 30px;
}
h2 {
  margin: 0;
}
#two-contents {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.content-box {
  width: 20vw;
  height: 40vh;
  background-color: #f1f5f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}
#content-left {
  justify-content: space-between;
  margin-right: 80px;
  gap: 15px;
}
#content-right {
  justify-content: center;
  text-align: center;
}
#departure-arrival {
  width: 100%;
  height: 100%;
}
.traject {
  width: 95%;
  height: 40px;
  background-color: rgb(234, 233, 233);
  border-radius: 5px;
  border-style: none;
  padding-left: 10px;
  font-size: large;
}
#date {
  margin-top: 50px;
}
#line-left {
  border-top: 1px solid gray;
  width: 95%;
  margin-left: 6px;
}
.trip {
  background-color: rgb(241, 236, 229);
  border-radius: 5px;
  height: 50px;
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
}
#btn-search {
  padding: 8px;
  width: 95%;
  height: 40px;
  background-color: rgb(65, 198, 134);
  color: white;
  border-radius: 5px;
  border: none;
  font-size: large;
  margin-top: 20px;
}
#content-right {
  justify-content: center;
  text-align: center;
}
#state-welcome {
  width: 100%;
}
#line-right {
  border-top: 3px solid rgb(65, 198, 134);
  width: 100%;
  margin-top: 50px;
}
#state-welcome-illustration {
  width: 150px;
  margin-top: 20px;
}
#state-text {
  margin: 50px 0;
}
.btn-book {
  background-color: rgb(65, 198, 134);
  color: white;
  border-radius: 3px;
  height: 30px;
  width: 60px;
  border: none;
}
.trip-text {
  font-size: small;
}
